<div class ="index_page">
	<div class="span9">
		<div class="title_tag">
			<%=image_tag("title241x40.png") %>
		</div>
		<div class="title_line">
			 Add-live
		</div>
	</div>	
	<br>
	<div class ="add_result_text">
		<%= "Congretulation...!!!" %>
		
	</div>
</div>