<div class="center hero-unit">
  <h1>Welcome to the Add-Live</h1>

  <h4>
    Where Adds add Happiness...
  </h4>
  Enquiry for Frenchiese mail us at :
  <%= link_to "addlive.com@gmail.com", '#' %>
</div>

<%= image_tag("uc.jpg", alt: "Rails", :class=>"uc", :align=>"middle",:size => "300x200") %>

<div class="progress progress-striped active">
  <div class="bar" style="width: 70%;"></div>
</div>
