.center
	.hero-unit
		%h1	
			Welcome to Add-live
		%h4
			Where Ads add Happiness...
	%p 
		= image_tag("uc1.jpg", alt: "Rails", :class=>"uc", :align=>"middle",:size => "300x200") 

	.progress.progress-striped.active
		.bar{:style => "width: 100%;"}


