=provide(:title, 'About Us')
%title
	= yield(:title)
.index_page
	.container
		.span8
			.title_tag
				=image_tag("title241x40.png")
			.title_line
				About Us
			.page_data
				.heading_lable
					=image_tag("add-live.jpg")
				We are experts at providing advertising and business solutions in a diffrent environment and style.We belive in High performance and Value for money services. Add-Live provide business oppertunities for Big compnies as well as Small businesses.
				%p
				%p
				%p
					* High Performance
				%p
					* Professional Support
				%p
					* Diffrent Ideas
				%p
					* Customer oriented Business
				%p
					* New Advertiesment Enviornment

		.span4
			= render :template => "staticpage/side_bar"