=provide(:title, 'Rewards')
%title
	= yield(:title)
.index_page
	.container
		.span8
			.title_tag
				=image_tag("title241x40.png")
			.title_line
				Rewards
			.page_data
				.coming
					Coming Soon ......
		.span4
			= render :template => "staticpage/side_bar"