=provide(:title, 'Frequently Ask Question')
%title
	= yield(:title)
.index_page
	.container
		.span9
			.title_tag
				=image_tag("title241x40.png")
			.title_line
				F.A.Q.
			.page_data
				this is a testing data