=provide(:title, 'Frequently Ask Question')
%title
	= yield(:title)
.index_page
	.container
		.span8
			.title_tag
				=image_tag("title241x40.png")
			.title_line
				F.A.Q.
			.page_data
				this is a testing data
		.span4
			= render :template => "staticpage/side_bar"