
<div id="slideshow1"> 
	<div class="image_slide_css"><%= image_tag @ads1[0].photo.url %></div>
	<div class="image_slide_css"><%= image_tag @ads1[1].photo.url %></div>
	
</div>

<script>

$(function() {
    $('#slideshow1').cycle();
});

</script>

