=provide(:title, 'Introduction')
%title
	= yield(:title)
.index_page
	.container-fluid
		.row-fluid
			.span9
				.title_tag
					=image_tag("title241x40.png")
				.title_line
					Add-live.com
				
			.span3
				%form 
					.members_area
						%strong Members Area
						.btn.btn-normal.btn-primary.signup_button
							=link_to "Sign in Here",new_user_session_path

					.members_area
						%strong New user ?
						.btn.btn-normal.btn-primary.signup_button
							=link_to "Click Here to Register", new_user_registration_path
							
				