.index_page
	.container-fluid
		.row-fluid
			.span9
				.title_tag
					=image_tag("title241x40.png")
				.title_line
					Add-live.com
				
			.span3
				%form 
					.members_area
						%strong Members Area
					.form-inline
						%input.search-query{:type=> "text", :placeholder=>"User Name",:id=>"username"}
						%input.search-query{:type=>"password", :placeholder=>"Password",:id=>"password"}
						.btn.btn-normal.btn-primary.login_button{:type=>"submit"}Sign in

					.members_area
						%strong New user ?
						.btn.btn-primary.btn-block.signup_button Click Here to Sign up
				