=provide(:title, 'Introduction')
%title
	= yield(:title)
.index_page
	.container-fluid
		.row-fluid
			.span8
				.title_tag
					=image_tag("title241x40.png")
				.title_line
					Add-live.com
				= render :template => "staticpage/intro"
				.ads_tag
					=image_tag("title241x40.png")
				.ads_line
					Our Sponsers
				.slideshow1	
					= render :template => 'staticpage/image_slide'
				
			.span4
				= render :template => "staticpage/side_bar"


							
					 
							
				