<div id="content">
<div class="single-shadow">
  <h2>  </h2>
  <div id="ticker">
    <div>
      <h2>Welcome to Add-Live</h2>
      <h5>Where ads add happiness</h5>
        <p><ul><li>Now you can Add more earnings by Watching Advertisements.<li>Advertiser can pramote their products to help increase sales.<li>Add-Live is one of the best environment for Advertisements.<li>Follow 3 easy steps to grow your business over internet.</ul></p><br \>
        <a class="next" href="#">Go to Step # 1</a>
    </div>
    <div>
      <h3>Step 1.</h3>
        <ul>
            <li>Members, can watch the Advertisements and get paid for it.</li>
            <li>Advertiser, can promote their products over internet through Add-Live. </li>
        </ul>
        <a class="next" href="#">Go to Step # 2</a>
    </div>
    <div>
        <h3>Step 2.</h3>
        <p>Register Your Self.<ul><li>Advertiser can register by simply sending an e-mail with fields like e-mail, name, address, contact no, city and category.<li>Member can register by clicking on registration button, member can get their joinging pin by any of the franchise.</ul></p>
        
        <a class="next" href="#">Go to Step # 3</a>
    </div>
    <div>
        <h3>Step 3.</h3>
        <ul>
            <li>Members can login into member section and get paid by watching Advertisements.</li>
            <li>Advertiser can login into Advertiser section and get update about their Advertisements like total clicks, no of Advertisements viewed, no of clicks remain.</li>
        </ul>
        <a class="next" href="#">Restart</a>
    </div>
    
  </div>
 </div> 
</div>



