=provide(:title, 'Plan')
%title
	= yield(:title)
.index_page
	.container
		.span8
			.title_tag
				=image_tag("title241x40.png")
			.title_line
				Our Plan
			.page_data
				Download Add-Live Presentations:
				.presentation				
					%br
					=link_to "For Clients", ppt_path('ADD-LIVE FOR CLIENTS.ppsx')
					%br
					%br
					=link_to "For Members", ppt_path('ADD-LIVE FOR MEMBERS.ppsx')
		.span4
			= render :template => "staticpage/side_bar"