=provide(:title, 'Plan')
%title
	= yield(:title)
.index_page
	.container
		.span8
			.title_tag
				=image_tag("title241x40.png")
			.title_line
				Our Plan
			.page_data
				=link_to "Download", '/public/download/abc.pdf'
		.span4
			= render :template => "staticpage/side_bar"