=provide(:title, 'Vision')
%title
	= yield(:title)
.index_page
	.container
		.span8
			.title_tag
				=image_tag("title241x40.png")
			.title_line
				Our Vision
			.page_data
				.heading_lable
					=image_tag("add-live.jpg")
				Our marketing team is a talented bunch. We care about our members, clients, our work and our Ads. 
				Become the biggest internet advertising agency in nation with high creativity, performance and customer services.
				

		.span4
			= render :template => "staticpage/side_bar"