=provide(:title, 'Why Add-live')
%title
	= yield(:title)
.index_page
	.container
		.span8
			.title_tag
				=image_tag("title241x40.png")
			.title_line
				Why Add-Live
			.page_data
				%h3
					Why choose Add-Live,
				%p

				%p
					* Not only watching ads but also read, understand and analyze the product or service.
				%p
					* Focus on big as well as small business.
				%p
					* City wise distributed.
				%p
					* Less expensive
				%p
					* Fastest marketing
				%p
					* 100% Literate viewers
				%p
					* Direct reach to large no of local and global viewer.
				%p
					* Varity of ads (same products)
				%p
					* Online Viewer data
				%p
					* Online ads manegment
				%p
					* Free listing in classified for life time
				%p
					* Free job posting facility.
				%p
					* Automatic renewal.
				%p
					* Direct Coustomer reference.
				%p
					* Effective products/services rating.		
				%p
					* Your Need, Your choice
				%p
					* Effortless income
				%p
					* Work from your working area
		.span4
			= render :template => "staticpage/side_bar"