<label class="heading_lable">Refrals</label>
<% @used_count=1 %>
<table class="table table-hover" >
	<tr>
		<td><b>Serial no</b></td>
		<td><b>Joining pin</b></td>
		<td><b>package</b></td>
		
	</tr>

	<% for i in @pins %>
	<% if i.frenchisename == current_user.username and i.used == true %>
		<tr>
			<td><b><%= @used_count %></b>
			</td><td><%= i.jpin %></td>
			<td><%= i.packagetype %></td> 
		</tr>
			<% @used_count=@used_count+1 %>
		</tr>
	<% end %>	
	<% end %>
</table>
