@import "bootstrap";

.container{
	width: 1050px;
}
.index_page{
	background-color:#CCD0DF;
	border-radius: 5px;
}

.span3{
	margin-left: 0;
    padding-left: 10px;
    border-left: 2px solid #eee;
}
.form-inline{
	margin-top:0px;
}
.members_area{
	margin-top:35px;
	margin-bottom:20px;
	font-size:140%;
	color: gray;
}
.login_button{
	margin-left:80px;
}
#password{
	margin-top:10px;
	margin-bottom:15px;
}
#logo {
	font-size: 30px;
	text-decoration: none;
	}
.logoc
{
	margin-top: -30px
}
.logoc :hover
{
	
	color: blue
}


#nv_hover  
{
	color: pink;
	&:hover { 
	color: orange; 
	font-size: 110%;
	}
	

}
/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.uc
{
	margin-left: 100px;
	
}

.sec_nav
{
	margin-top: 25px;
}