@import "bootstrap";

.container{
	width: 1000px;
}
.text_box{
	width:200px;
}
.index_page{
	background-color:#EAEAEB;
	border-radius: 5px;
	border-right: 5px solid #D7D7DA;
	border-bottom: 5px solid #D7D7DA;
}
.title_tag{
	margin-top: 25px;
	margin-left:-30px;
}
.title_line{
	margin-top: -35px;
	margin-left:25px;
	font-family:Broadway;
	font-size:160%;
	color:white;
}
.page_data{
	margin-top:25px;
	margin-left:55px;
}
.reg_form{
	margin-top:25px;
}
#state{
	width:225px;
}

.span3{
	margin-left: 0;
    padding-left: 10px;
    border-left: 2px solid white;
}
.form-inline{
	margin-top:0px;
}
.members_area{
	margin-top:35px;
	margin-bottom:20px;
	font-size:130%;
	color: gray;
}
.login_button{
	margin-left:130px;
	
}
.signup_button {
	margin-top: 10px;
}
a{color:#DCD8D8;}
.signup_button :hover{
	text-decoration:none;
	color:white;
}
#password{
	margin-top:10px;
	margin-bottom:15px;
}
#logo {
	font-size: 30px;
	text-decoration: none;
	}
.logoc
{
	margin-top: -50px;
	margin-bottom:5px;
}
.logoc :hover
{
	
	color: blue
}


#nv_hover  
{
	color: pink;
	&:hover { 
	color: orange; 
	font-size: 110%;
	}
	

}
/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.uc
{
	margin-left: 100px;
	
}

.sec_nav
{
	margin-top: 25px;
}
.reg_cancle{
	margin-left:30px;
}

.reg_me{
	margin-left:90px;
}

.heading_lable{
	font-size:120%;
	margin-bottom:20px;
	font-weight:bold;
	color:blue;
}

#error_explanation
{
H2 {font-size: 15px;}
	color:red;
	font-size:15px;
}
.render_link a{
	text-decoration:none;
	color: blue;
	
}