// Place all the styles related to the Staticpage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#slideshow1{
	margin-top:25px;
}
.slideshow1
{
	margin-bottom: 280px;
	
}
.presentation{
	margin-top:5px;
	font-size:110%;
	margin-top:5px;
	background-color:black;
	padding:2px;
	padding-bottom:8px;
	color:black;
	font-weight:bold;
	border-radius:10px;
}


#need_search{
	margin-left: 20px;
	margin-right:20px;
}

.search-btn{
	margin-top:-10px;
}

.search_need_data{
	font-size: 115%;
}

.coming{
	font-size: 250%;
	margin-top: 50px;

	background-color:#074c91;
	padding:15px ;
	color:white;
	font-weight:bold;
	border-radius:10px;
}
.statistics{
	margin-top:15px;
	margin-bottom:15px;
	border-right: 1px solid #363451;
	width: 653px;
}
.new{
	margin-top: -30px;
	margin-left: 128px;
	color: blue;
}
.format_search_data{
	width:493px;
	background-color: #074c91;
	padding:3px;
	border-radius:10px;
	padding-left:10px;
}
.format_search_data1{
	width:500px;
	margin-top:5px;
	background-color:#c3c8cd;
	padding:3px;
	color:black;
	border-radius:10px;
	font-size:90%;
	
}

.format_search_data2{
	width:500px;
	margin-top:5px;
	background-color:#c3c8cd;
	padding:3px;
	color:black;
	border-radius:10px;
	font-size:90%;
	text-decoration:bold;
	font-weight:bold;
	margin-left: -175px;
	margin-bottom: 25px;
}

.search_need_listbox{
	margin-top:5px;
	background-color:#c3c8cd;
	padding:20px 0px 2px 0px;
	color:black;
	border-radius:10px;
}
.plan_data{
	margin-top:5px;
	background-color:#074c91;
	padding:5px 5px 2px 5px;
	color:white;
	font-weight:bold;
	border-radius:10px;
}