// Place all the styles related to the Staticpage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#slideshow1{
	margin-top:25px;
}
.slideshow1
{
	margin-bottom: 280px;
	box-shadow: 0px 0px 30px white;
}
.image_slide_css{
	box-shadow: 0px 0px 15px #888888;
	width:100%;
}
.presentation{
	margin-top:5px;
	font-size:110%;
	margin-top:5px;
	background-color:black;
	padding:2px;
	padding-bottom:8px;
	color:black;
	font-weight:bold;
	border-radius:10px;
}


#need_search{
	margin-left: 20px;
	margin-right:20px;
}

.search-btn{
	margin-top:-10px;
}

.search_need_data{
	font-size: 115%;
}

.coming{
	font-size: 250%;
	margin-top: 50px;
	background-color:#074c91;
	padding:25px ;
	color:white;
	font-weight:bold;
	border-radius:10px;
	text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
}
.statistics{
	margin-top:15px;
	margin-bottom:15px;
	border-right: 1px solid #363451;
	width: 653px;
}
.new{
	margin-top: -30px;
	margin-left: 128px;
	color: blue;
}
.format_search_data{
	width:493px;
	background-color: #074c91;
	padding:3px;
	border-radius:10px;
	padding-left:10px;
}
.format_search_data1{
	width:500px;
	margin-top:5px;
	background-color:#c3c8cd;
	padding:3px;
	color:black;
	border-radius:10px;
	font-size:90%;
	
}

.format_search_data2{
	width:500px;
	margin-top:5px;
	background-color:#c3c8cd;
	padding:3px;
	color:black;
	border-radius:10px;
	font-size:90%;
	text-decoration:bold;
	font-weight:bold;
	margin-left: -175px;
	margin-bottom: 25px;
}

.search_need_listbox{
	margin-top:5px;
	background-color:#c3c8cd;
	padding:20px 0px 2px 0px;
	color:black;
	border-radius:10px;
}
.plan_data{
	margin-top:5px;
	background-color:#074c91;
	padding:5px 5px 2px 5px;
	color:white;
	font-weight:bold;
	border-radius:10px;
}

.heading_lable1{
	margin-bottom:25px;
	box-shadow: 0px 0px 30px white;
 	border-radius:0px;
}

.latest_news{
	margin-top:15px;
	margin-left:10px;

}

.latest_heading{
	background-color:orange;
	color:white;
	padding:3px;
	font-weight:bold;
	text-shadow: 1px 1px 2px black;
}
.latest_data{
	background-color:#565c61;
	color:white;
	padding:10px;	
	text-shadow: 1px 1px 2px black;

}

.home_image{
	margin-left:180px;
	margin-top: 15px;
}