// Place all the styles related to the Staticpage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#slideshow1{
	margin-top:25px;

}
.slideshow1
{
	margin-bottom: 280px;
}
.presentation{
	margin-top:5px;
	font-size:110%;
}

#need_search{
	margin-left: 20px;
	margin-right:20px;
}

.search-btn{
	margin-top:-10px;
}

.search_need_data{
	font-size: 115%;
}